.start {
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  letter-spacing: 10px;
  line-height: 20px;
  background: none;
  color: white;
  opacity: 0.5;
  border: none;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.start:hover {
  opacity: 1;
}

.settings {
  border: none;
  background: none;
  cursor: pointer;
  opacity: 0.3;
}

.settings:hover {
  opacity: 1;
}
